# Ignore everything by default
*

# Allow Git to traverse directories
!*/

# Track R scripts
!*.R

# Track R Markdown
!*.Rmd

# Track Quarto documents
!*.qmd

# Track Markdown
!*.md

# Keep this file
!.gitignore

# Keep README files
!README*

# other files
!/Round_7/README.md
.Rproj.user
!/Diego_RSV_CosMx/GeoMx_from_Yutian/